{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    <h1>Create a new Booking</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Submit</button>
    {{ form_end(form) }}

{% endblock %}
